.landing {
    background-image: url(./../public/images/bg-landing-p.png);
    background-position: center;
    background-size: cover;
    padding: 50px;
    width: 100%;
}
.closeMenu {
    background-color: rgba(0, 0, 0, 0.413);
}
.box {
    inline-size: 150px;
}

.box-drop-down {
    background: rgb(33, 32, 32);
}
.drop-down-container {
    background: rgba(255, 255, 255, 0.03);
}

.i {
    background: rgba(255, 255, 255, 0.02);
}

.mySwiper {
    width: 100%;
}
.swiper-slide {
    height: 300px;
    /* line-height: 300px; */
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 767px) {
    .showMenu {
        transform: translateX(0%);
        position: fixed;
        right: 0;
        top: 0px;
        background-color: #1c1917;
        height: 100vh;
        padding: 10px;
        width: 127px;
        padding-top: 50px;
    }
    .hiddenMenu {
        right: 0;
        position: fixed;
        transform: translateX(+100%);
        top: 0px;
        background-color: #1c1917;
        height: 100vh;
        padding: 10px;
        width: 127px;
        padding-top: 50px;
    }
}

@media (min-width: 500px) {
    .landing {
        background-image: url(./../public/images/bg-landing-d.png);
    }
}

@media (min-width: 1200px) {
    .landing {
        height: 700px;
    }
}
